* {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 54, 173);
}

body {
  background-color: rgb(163, 255, 241);
}

#top-section h1 {
  font-size: 2rem;
}

a {
  color: rgb(255, 54, 173);
  font-weight: 600;
  font-size: 1.3rem;
}

#top-section h2 {
  font-size: 1.7rem;
}

/* Rank Number */
#ranking h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.image_container {
  width: 100px;
  height: 100px;
  padding: 0;
  margin-left: 20px;
  margin-right: 15px;
}

#ranking img {
  width: 100px;
  height: 100px;
  padding: 0;
  object-fit: cover;
}

.top-artist-name,
.top-song-name {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.7rem;

  /* Text cutoff */
  --max-lines: 2;

  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.top-song-artist {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;

  /* Text cutoff */
  --max-lines: 1;

  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

@media (max-width: 576px) {
  #top-section h1 {
    font-size: 1.8rem;
  }

  a {
    font-size: 1.1rem;
  }

  #top-section h2 {
    font-size: 1.5rem;
  }

  #ranking h3 {
    font-size: 1.8rem;
  }

  .top-artist-name,
  .top-song-name {
    font-size: 1rem;
  }

  .top-song-artist {
    font-size: 0.8rem;
  }
}
